body {
     font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'NOto Sans TC',sans-serif;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
}

.bg-primary{
	background-color: #000203!important;
    background-image: url(../assets/img/green-dust-and-scratches.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 50%;
}

div.desc {
  padding: 15px;
  text-align: center;
}