body {
     font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'NOto Sans TC',sans-serif;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
}

bg-primary{
	background-color: #0010c2!important;
	background-image: url(../assest/img/green-dust-and-scratches.png);
}
